{% extends 'layout.html' %} {% block cta %}
<div id="top-cta">
    <a class="button color rounded effect icon-left" href="/invite"><span><i class="fa fa-bolt"></i>REQUEST INVITE</span></a>
    <a class="button color rounded effect icon-left" href="http://mefinance.movewithin.org/" target="_blank"><span><i class="fa fa-bolt"></i>LAUNCH DEMO</span></a>
</div>
{% endblock %} {% block content %}
<!-- SECTION REVOLUTION SLIDER -->
<div id="slider">

    <div id="rev_slider_32_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="corporate-v3" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.1 fullscreen mode -->
        <div id="rev_slider_32_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-134" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="homepages/corporate-v3/images/slider/Working-Space.jpg" data-rotate="0" data-saveperformance="off" data-title="BACKGROUND VIDEO" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="homepages/corporate-v3/images/slider/dummy.png" alt="" width="1920" height="1080" data-lazyload="homepages/corporate-v3/images/slider/Working-Space.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    
                    <!-- BACKGROUND VIDEO LAYER -->
                    <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videoogv="homepages/corporate-v3/images/slider/Working-Space.ogv" data-videowebm="homepages/corporate-v3/images/slider/Working-Space.webm" data-videomp4="homepages/corporate-v3/images/slider/Working-Space.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-134-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['250','250','75','75']" data-fontsize="['60','40','40','40']" data-lineheight="['120','70','70','50']" data-width="[1048,1048,400,400]" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 80px; line-height: 60px;color:black;text-align:center;">PEOPLE ARE YOUR BIGGEST ASSET
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Fashion-BigDisplay   tp-resizeme" id="slide-134-layer-5" data-fontsize="['20','20','16','16']" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['375','375','200','200']" data-width="[1048,1048,400,400]" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1890;e:Power2.easeInOut;" data-transform_out="opacity:0;s:610;s:610;" data-mask_in="x:0px;y:[100%];" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 1048px; max-width: 1048px; white-space: normal;  line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-align:center;">
                        Boost retention of high performing talent by enabling employees seek career development & progression through internal mobility opportunities.
                    </div>
                    <div id="slide-134-layer-6" class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['-120','-120','-120','-120']" data-y="['top','top','top','top']" data-voffset="['500','500','400','400']" data-start="1700" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1890;e:Power2.easeInOut;">
                        <a class="button color rounded effect icon-left" href="/invite" style="z-index: 6; font-size: 20px; line-height: 24px; font-weight: 400; text-align:center;"><span><i class="fa fa-bolt"></i>REQUEST INVITE</span></a> 
                    </div>
 <div id="slide-134-layer-6" class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['120','120','120','120']" data-y="['top','top','top','top']" data-voffset="['500','500','400','400']" data-start="1700" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1890;e:Power2.easeInOut;">
                        <a class="button color rounded effect icon-left" href="http://mefinance.movewithin.org/" target="_blank" style="z-index: 6; font-size: 20px; line-height: 24px; font-weight: 400; text-align:center;"><span><i class="fa fa-bolt"></i>LAUNCH DEMO</span></a> 
                    </div>                    

                </li>
            </ul>
            <div class="tp-static-layers">

            </div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->

</div>
<!-- END SECTION REVOLUTION SLIDER -->

<!-- MoveWithin -->
<section class="p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sm-mt-20">
                <div class="heading heading text-left">
                    <h2>MoveWithin</h2>
                    <span class="lead">MoveWithin provides organizations a platform to develop a strong internal recruitment & talent management brand.</span><span>Develop an open and accessible internal mobility program and boost talent retention and attraction by offering employees opportunities to diversify and grow their careers by applying for new roles within the organization.</span>
                    <br/>
                    <span>Help hiring managers learn about the skills, experiences and aspirations of internal candidates. At the same time enable employees to contribute to the organization in new and different ways, leading to a direct increase in employee engagement and reduction in competitive intelligence leakage.</span>
                </div>
            </div>
            <div class="col-md-6 m-t-60 sm-mt-20">
                <div class="progress-bar-container title-up small color">
                    <div class="progress-bar" data-percent="77" data-delay="100" data-type="%">
                        <div class="progress-title">77% of businesses saw internal recruitment as critical or important.</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small color">
                    <div class="progress-bar" data-percent="20" data-delay="200" data-type="%">
                        <div class="progress-title">Though, only 20% companies used internal recruitment to fill all roles.</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small color">
                    <div class="progress-bar" data-percent="7" data-delay="300" data-type="%">
                        <div class="progress-title">A meagre 7% said that they hired senior managers internally.</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small color">
                    <div class="progress-bar" data-percent="33" data-delay="400" data-type="%">
                        <div class="progress-title">Only 33% had an Internal Mobility program.</div>
                    </div>
                </div>
                <div class="text-right">
                    <span><i>Source: Cornerstone Internal Recruitment Survey</i></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: MoveWithin -->

<!-- Employee Retention -->
<section class="p-b-10 background-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-t-40 sm-m-t-20">
                <div class="progress-bar-container title-up small color">
                    <div class="progress-bar" data-percent="45" data-delay="100" data-type="%">
                        <div class="progress-title">45% quit jobs due to lack of opportunities for advancement</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small color">
                    <div class="progress-bar" data-percent="59" data-delay="200" data-type="%">
                        <div class="progress-title">59% joined a new organization for a better career path</div>
                    </div>
                </div>

                <div class="text-left">
                    <span><i>Source: LinkedIn, Why & How People Change Jobs Survery, 2015</i></span>
                </div>

            </div>
            <div class="col-md-6 sm-m-t-20">
                <div class="heading text-right text-left-sm">
                    <h2>Employee Retention</h2>
                    <span class="lead">Of the 10.5k+ recent Job changers interviewed by LinkedIn, 49% stated lack of career advancement opportunities as the top reason to leave an organization.</span>
                    <span>A further 59% stated better career path/opportunities as the key reason to join a new organization.47% of the respondent said that their new role was a better fit for their skills. And 42% felt they would have better opportunity to make an impact.</span>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END: Employee Retention -->



<!-- SERVICES -->
<section class="p-t-100">
    <div class="container">
        <div class="row text-center p-b-40">
            <h3>Key Features of MoveWithin</h3>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect square medium color">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Private</h3>
                    <p>Only employees within your organization can access your listing page</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box effect square medium color">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Workflow</h3>
                    <p>Everything in one place. From authoring new listing to reviewing, editing and going live.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect square medium color">
                    <div class="icon">
                        <a href="#"><i class="fa fa-trophy"></i></a>
                    </div>
                    <h3>Integrated</h3>
                    <p>MoveWithin can integrate with your organizations intranet. Your users don't need to create separate accounts.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect square medium color">
                    <div class="icon">
                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                    </div>
                    <h3>Application Tracking</h3>
                    <p>Automated tracking and life cycle maintenance of all individuals who apply to open roles.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect square medium color">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Talent Brand</h3>
                    <p>MoveWithin is not just a job listing page. We offer you a platform to create powerful   talent brand pages that can be shared with talent internally</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box effect square medium color">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Customizable</h3>
                    <p>MoveWithin is built ground up to be customizable to fit within your existing HR process with a low cost of implementation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: SERVICES -->

<!-- CALL TO ACTION -->
<section class="row background-grey text-center">
    <div class="container">
        <h3>MoveWithin is now open for limited Beta applications.</h3>
        <h4>Request an Invite Today for your Organization.</h4>  <a href="/invite" class="button color rounded"><span>REQUEST INVITE</span></a>
    </div>
</section>
<!-- CALL TO ACTION -->



<!-- BLOG -->
<section class="content">
    <div class="container">

        <div class="heading heading text-left">
            <h2>OUR BLOG</h2>
            <span class="lead">Latest trends and thoughts on Talent Management, Retention & Attraction</span>
        </div>
    </div>

    <div id="blog">
        <div class="container">
            <!-- Blog post-->
            <div class="post-content  post-block post-modern post-3-columns post-light-background">
                <!-- Blog image post-->

                {% for blog in blogs %}

                <div class="post-item" data-animation="fadeInUp" data-animation-delay="0">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="{{blog.imageUrl}}">
                        </a>
                    </div>
                    <div class="post-content-details">
                        <div class="post-title">
                            <h3><a href="/posts/{{blog.slug}}">{{blog.title}}</a></h3>
                        </div>
                        <div class="post-info">
                            <span class="post-autor">Post by: <a href="#">{{blog.author}}</a></span>
                            <span class="post-category">in <a href="#">{{blog.category}}</a></span>
                        </div>
                        <div class="post-description">
                            {{blog.description}}

                            <div class="post-info">
                                <a class="read-more" href="/posts/{{blog.slug}}">read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="post-meta">
                        <div class="post-date">
                            <span class="post-date-day">{{blog.day}}</span>
                            <span class="post-date-month">{{blog.month}}</span>
                            <span class="post-date-year">{{blog.year}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- END: Blog post-->
        </div>
    </div>
</section>
<!-- END: BLOG -->
{% endblock %} {% block customScript %}
<script type="text/javascript">
    var tpj = jQuery;
    var revapi32;
    tpj(document).ready(function() {
        if(tpj("#rev_slider_32_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_32_1");
        } else {
            revapi32 = tpj("#rev_slider_32_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "vendor/rs-plugin/js/",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 50,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 1024, 778, 480],
                gridheight: [868, 768, 960, 720],
                lazyType: "smart",
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                fullScreenAutoWidth: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    }); /*ready*/
</script>
{% endblock %}